* {
  list-style: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Hanken Grotesk", sans-serif;
  background-color: hsl(221, 100%, 96%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  background-color: #fff;
  border-radius: 20px;
}
.container .box {
  width: 50%;
  padding: 50px;
  height: 600px;
  width: 400px;
}
.container .left-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  color: #fff;
  text-align: center;
  border-radius: 20px;
}

.container .container .left-box h2 {
  color: hsl(241, 100%, 89%);
  font-weight: 700;
}
.container .left-box .score {
  background: linear-gradient(hsl(241, 99%, 54%), hsl(252, 100%, 67%));
  width: 200px;
  height: 200px;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.container .left-box .score p {
  font-size: 70px;
  font-weight: 700;
  text-align: center;
}
.container .left-box .score p span {
  display: block;
  font-size: 18px;
  color: #ddd;
}
.container .left-box h3 {
  font-size: 42px;
}
.container .left-box .info {
  color: hsla(216, 100%, 99%, 0.482);
  line-height: 1.8;
  font-size: 15px;
  width: 80%;
  margin: auto;
}

/* Start right box */
.container .right-box {
  display: flex;
  flex-direction: column;
  align-items: space-between;
}
.container .right-box ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 20px 0;
  border-radius: 7px;
  text-transform: capitalize;
}
.container .right-box ul li span {
  color: #777;
}
.container .right-box ul li span .yourscore {
  color: #333;
}
.container .right-box ul li:first-child {
  background-color: hsl(0, 100%, 95%);
  color: hsl(0, 100%, 67%);
}
.container .right-box ul li:nth-child(2) {
  background-color: hsl(39, 100%, 95%);
  color: hsl(39, 100%, 56%);
}
.container .right-box ul li:nth-child(3) {
  background-color: hsl(166, 100%, 95%);
  color: hsl(166, 100%, 37%);
}
.container .right-box ul li:last-child {
  background-color: hsl(234, 85%, 95%);
  color: hsl(234, 85%, 45%);
}
.container .right-box button {
  width: 80%;
  margin: auto;
  text-align: center;
  border: none;
  padding: 20px;
  border-radius: 30px;
  background-color: hsl(224, 30%, 27%);
  color: #fff;
  cursor: pointer;
}
