.container {
  display: grid;
  grid-template-columns: repeat(1fr);
  grid-template-rows: 30px 60px 80px;
  gap: 10px;
}

.container div {
  background-color: #777;
}

.container div:first-child {
  background-color: #ddd;
  grid-column: 1/4;
}

.container div:nth-child(2) {
  background-color: magenta;
  grid-row: 2/4;
}
.container div:nth-child(3) {
  background-color: palegreen;
  grid-row: 2/4;
  grid-column: 2/4;
}
