body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  font-family: sans-serif;
}

.container {
  background-color: #fff;
  padding: 15px;
  text-align: center;
  width: 400px;
  border-radius: 20px;
}

.container .code img {
  border-radius: 20px;
  max-width: 100%;
}
.container h2 {
  font-weight: 700;
  font-size: 22px;
}

.container p {
  font-size: 14px;
  color: #777;
}
