* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --violet: hsl(257, 40%, 49%);
  --softMagenta: hsl(300, 69%, 71%);
}
body {
  font-family: "Open Sans", sans-serif;
  background: url(../images/bg-desktop.svg);
  background-color: var(--violet);
  background-size: cover;
  height: 100vh;
}
/* 
heads {
    font-family: 'Poppins', sans-serif;
} */
header {
  padding: 20px;
}
main {
  width: 1200px;
  margin: auto;
}

main .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding: 30px;
}

main .container .info {
  margin-top: 40px;
  color: #fff;
}
main .container .info h3 {
  font-size: 32px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin: 20px 0;
}

main .container .info p {
  line-height: 1.7;
  margin-bottom: 20px;
}

main .container .info button {
  padding: 15px;
  width: 180px;
  font-size: 18px;
  text-align: center;
  border-radius: 15px;
  border: none;
  color: var(--violet);
  cursor: pointer;
  box-shadow: 0px 6px 16px #00000069;
}

.social {
  font-size: 32px;
  color: #fff;
  position: absolute;
  bottom: 10px;
  right: 20px;
}
.social i {
  margin: 10px;
}

@media screen and (min-width: 375px) {
  main .container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
  }
}
